@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --bs-body-font-family: var(--font-anuphan), "Inter", Arial, sans-serif;
}

body {
  font-size: 14px;
  font-family: var(--bs-body-font-family);
}
